<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.externalurl.repository.ExternalRepository">
    <select id="getAllUrlList" resultType="java.util.HashMap">
        SELECT  DATA_PROVIDER
              , API_URL
              , DATA_FORMAT
              , API_EXPL
        FROM RAWAPIINFO
        ORDER BY DATA_PROVIDER
    </select>

    <select id="checkDuplicationUrl" resultType="String">
        SELECT DISTINCT API_URL
        FROM RAWAPIDATA
        WHERE API_URL = #{apiUrl}
    </select>

    <insert id="insertApiJdbcInfo" parameterType="HashMap">
        INSERT INTO RAWAPIJDBCINFO
        (
             ID
           , JDBC_URL
           , JDBC_DRIVER
           , CONN_POOL
           , JDBC_ID
           , JDBC_PW
        ) VALUES
          (
           #{ID},
           #{JDBC_URL},
           #{JDBC_DRIVER},
           #{CON_CNT},
           #{JDBC_ID},
           #{JDBC_PW}
           )
    </insert>

    <insert id="insertApiUrlInfo" parameterType="hashMap">
        INSERT INTO RAWAPIINFO
        (
              API_ID
            , API_URL
            , API_SVC
            , IS_QUERY
            , IS_PATH
            , DATA_FORMAT
            , DATA_PV_GP
            , DATA_PROVIDER
            , API_EXPL
            , USER_KEY
            , USER_AUTH
            , KEY_NAME
            , PAGE_COL_NM
            , TC_COL_NM
            , JDBC_ID
        ) VALUES
        (
            #{API_ID},
            #{BASE_URL},
            #{API_SVC},
            #{IS_QUERY},
            #{IS_PATH},
            #{DATA_FORMAT},
            #{DATA_PV_GP},
            #{DATA_PROVIDER},
            #{API_EXPL},
            #{AUTH_KEY},
            #{AUTH_SECRET},
            #{KEY_NAME},
            #{PAGE_COL_NM},
            #{TC_COL_NM},
            #{JDBC_ID}
        )
    </insert>

</mapper>